<div id="<%= dom_id contactbook %>">
  <p>
    <strong>Name:</strong>
    <%= contactbook.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contactbook.email %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= contactbook.number %>
  </p>

</div>
