<h1>Editing contactbook</h1>

<%= render "form", contactbook: @contactbook %>

<br>

<div>
  <%= link_to "Show this contactbook", @contactbook %> |
  <%= link_to "Back to contactbooks", contactbooks_path %>
</div>
